**{{ project.name }}** is a {{description}}.

**{{ project.name }}** is built upon the [EasyScience] framework, which provides
essential tools for developing scientific libraries and applications.

## Useful Links

- [Main Website] - Learn more about {{ project_name }}.
- [Documentation] - Access the full documentation.
- [Discussions] - Ask questions or share ideas.
- [Issue Tracker] - Report bugs or request new features.
- [Source Code] - Explore the source code repository.

## Contributing

We welcome contributions! Our vision is for **{{ project_name }}** to be a
community-driven, open-source project supported by a diverse group of
contributors.

The project is currently maintained by the [European Spallation Source (ESS)].

If you'd like to contribute, please refer to our [Contributing Guidelines] for
information about our code of conduct and instructions on submitting pull
requests.

## License

**{{project_name}}** is licensed under the [BSD 3-Clause License].

<!-- prettier-ignore-start -->
[BSD 3-Clause License]: https://github.com/easyscience/{{repo}}/blob/master/LICENSE
[Contributing Guidelines]: https://github.com/easyscience/{{repo}}/blob/master/CONTRIBUTING.md
[EasyScience]: https://easyscience.software
[European Spallation Source (ESS)]: https://ess.eu
[Main Website]: {{site_url}}
[Documentation]: {{docs_url}}
[Discussions]: https://github.com/easyscience/{{repo}}/discussions
[Issue Tracker]: https://github.com/easyscience/{{repo}}/issues
[Source Code]: https://github.com/easyscience/{{repo}}
<!-- prettier-ignore-end -->
