---
icon: material/cog-box
---

# :material-cog-box: Installation & Setup

## Requirements

{{ project_name }} is a cross-platform Python library compatible with
**Python {{ lib_python_min }} through {{ lib_python_max }}**.

Below, we outline two installation methods: using **Pixi** (recommended for
ease of use) and the **classical approach** (for advanced users).

## Installing with Pixi <small>recommended</small> { #installing-with-pixi data-toc-label="Installing with Pixi" }

This section describes the most simple way to set up {{ project_name }} using
[Pixi](https://pixi.sh), an advanced package and environment manager for Python
and Conda-compatible packages.

It requires installing Pixi first, but then it automates the creation of an
isolated environment with all dependencies, which is especially useful for
non-expert Python users.

<!-- prettier-ignore-start -->

- Install Pixi by following the instructions on the
  [official Pixi Installation Guide](https://pixi.sh/latest/installation).
- Initialize a new Pixi project and navigate into it:
  ```txt
  pixi init {{ lib_package_name }}
  cd {{ lib_package_name }}
  ```
- Set the Python version for the Pixi environment (e.g., {{ lib_python_max }}):
  ```txt
  pixi add python={{ lib_python_max }}
  ```
- Add the GNU Scientific Library (GSL) dependency:
  ```txt
  pixi add gsl
  ```
- Add {{ project_name }} with the `visualization` extras:
  ```txt
  pixi add --pypi "{{ lib_package_name }}[visualization]"
  ```
- Add a Pixi task to run {{ project_name }} commands easily:
  ```txt
  pixi task add {{ lib_package_name }} "python -m {{ lib_package_name }}"
  ```

<!-- prettier-ignore-end -->

## Classical Installation <small>advanced</small> { #classical-installation data-toc-label="Classical Installation" }

### Environment Setup <small>optional</small> { #environment-setup data-toc-label="Environment Setup" }

We recommend using a **virtual environment** to isolate dependencies and avoid
conflicts with system-wide packages. If any issues arise, you can simply delete
and recreate the environment.

#### Creating and Activating a Virtual Environment:

<!-- prettier-ignore-start -->

- Create a new virtual environment:
  ```txt
  python3 -m venv venv
  ```
- Activate the environment:

    === ":material-apple: macOS"
        ```txt
        . venv/bin/activate
        ```
    === ":material-linux: Linux"
        ```txt
        . venv/bin/activate
        ```
    === ":fontawesome-brands-windows: Windows"
        ```txt
        . venv/Scripts/activate      # Windows with Unix-like shells
        .\venv\Scripts\activate.bat  # Windows with CMD
        .\venv\Scripts\activate.ps1  # Windows with PowerShell
        ```

- The terminal should now show `(venv)`, indicating that the virtual environment
  is active.

<!-- prettier-ignore-end -->

#### Deactivating and Removing the Virtual Environment:

<!-- prettier-ignore-start -->

- Exit the environment:
  ```txt
  deactivate
  ```
- If this environment is no longer needed, delete it:

    === ":material-apple: macOS"
        ```txt
        rm -rf venv
        ```
    === ":material-linux: Linux"
        ```txt
        rm -rf venv
        ```
    === ":fontawesome-brands-windows: Windows"
        ```txt
        rmdir /s /q venv
        ```

<!-- prettier-ignore-end -->

### Installing from PyPI <small>recommended</small> { #from-pypi data-toc-label="Installing from PyPI" }

{{ project_name }} is available on **PyPI (Python Package Index)** and can be
installed using `pip`. We strongly recommend installing it within a virtual
environment, as described in the [Environment Setup](#environment-setup)
section.

We recommend installing the latest release of {{ project_name }} with the
`visualization` extras, which include optional dependencies used for simplified
visualization of charts and tables. This can be especially useful for running
the Jupyter Notebook examples. To do so, use the following command:

```txt
pip install '{{ lib_package_name }}[visualization]'
```

If only the core functionality is needed, the library can be installed simply
with:

```txt
pip install {{ lib_package_name }}
```

To install a specific version of {{ project_name }}, e.g., 1.0.3:

```txt
pip install '{{ lib_package_name }}==1.0.3'
```

To upgrade to the latest version:

```txt
pip install --upgrade {{ lib_package_name }}
```
To upgrade to the latest version and force reinstallation of all
dependencies (useful if files are corrupted):

```txt
pip install --upgrade --force-reinstall {{ lib_package_name }}
```

To check the installed version:

```txt
pip show {{ lib_package_name }}
```

### Installing from GitHub <small>alternative</small> { #from-github data-toc-label="Installing from GitHub" }

Installing unreleased versions is generally not recommended but may be useful
for testing.

To install {{ project_name }} from, e.g., the `develop` branch of GitHub:

```txt
pip install git+https://github.com/easyscience/{{ lib_repo_name }}@develop
```

To include extra dependencies (e.g., visualization):

```txt
pip install '{{ lib_package_name }}[visualization] @ git+https://github.com/easyscience/{{ lib_repo_name }}@develop'
```

## How to Run Tutorials

{{ project_name }} includes a collection of **Jupyter Notebook examples** that
demonstrate key functionality. These tutorials serve as **step-by-step guides**
to help users understand the data analysis workflow.

They are available as **static HTML pages** in the
[:material-school: Tutorials](../tutorials/index.md) section. You can also run
them interactively in two ways:

- **Run Locally** – Download the notebook via the :material-download:
  **Download** button and run it on your computer.
- **Run Online** – Use the :google-colab: **Open in Google Colab** button to run
  the tutorial directly in your browser (no setup required).

### Run Tutorials Locally

To run tutorials locally, install **Jupyter Notebook** or **JupyterLab**.

Below, we outline the steps to run the tutorials using either **Pixi** (recommended)
or the classical method (advanced users).

#### Running with Pixi <small>recommended</small> { #running-with-pixi data-toc-label="Running with Pixi" }

Here are the steps to follow using **JupyterLab** with Pixi:

- Navigate to your existing Pixi project, as described in the
  [Installing with Pixi](#installing-with-pixi) section.
- Add JupyterLab and the Pixi kernel for Jupyter:
  ```txt
  pixi add --pypi jupyterlab pixi-kernel
  ```
- Download all the {{ project_name }} tutorials to the `tutorials/` directory:
  ```txt
  pixi run {{ lib_package_name }} download-all-tutorials
  ```
- Start JupyterLab in the `tutorials/` directory to access the notebooks:
  ```txt
  pixi run jupyter lab tutorials/
  ```
- Your web browser should open automatically. Click on one of the `*.ipynb`
  files and select the `Python (Pixi)` kernel to get started.

#### Classical Approach <small>advanced</small> { #classical-approach data-toc-label="Classical Approach" }

Here are the steps to follow in the case of **Jupyter Notebook**:

- Install Jupyter Notebook and IPython kernel:
  ```txt
  pip install notebook ipykernel
  ```
- Add the virtual environment as a Jupyter kernel
  ```txt
  python -m ipykernel install --user --name=venv --display-name "{{ project_name }} Python kernel"
  ```
- Download all the {{ project_name }} tutorials to the `tutorials/` directory:
  ```txt
  python -m {{ lib_package_name }} download-all-tutorials
  ```
- Launch the Jupyter Notebook server in the `tutorials/` directory:
  ```txt
  jupyter notebook tutorials/
  ```
- In your web browser, go to:
  ```txt
  http://localhost:8888/
  ```
- Open one of the `*.ipynb` files and select the `{{ project_name }} Python kernel`
  to get started.

### Run Tutorials via Google Colab

**Google Colab** lets you run Jupyter Notebooks in the cloud without any local
installation.

To use Google Colab:

- Ensure you have a **Google account**.
- Go to the **[:material-school: Tutorials](../tutorials/index.md)** section.
- Click the :google-colab: **Open in Google Colab** button on any tutorial.

This is the fastest way to start experimenting with {{ project_name }}, without
setting up Python on your system.
