---
icon: material/information-slab-circle
---

# :material-information-slab-circle: Introduction

## Description

{{project__name}} is scientific software for
{{project__extended_description}}.

{% if project__deployment_type == "both" %}
{{project__name}} is distributed as both a cross-platform desktop application
and a Python library.

Here you can find instructions for using the {{project__name}} Python library.
Documentation for the {{project__name}} graphical user interface can be found
[elsewhere]({{project__urls__app_docs}}).
{% elif project__deployment_type == "lib" %}
{{project__name}} is distributed as a Python library.
{% elif project__deployment_type == "app" %}
{{project__name}} is distributed as a cross-platform desktop application.
{% endif %}

![](../assets/images/hero_dark.png#gh-dark-mode-only)![](../assets/images/hero_light.png#gh-light-mode-only)

## EasyScience

{{project__name}} EasyDiffraction is built upon the
[EasyScience framework](https://easyscience.software), which provides
essential tools for developing scientific libraries and applications.

## Latest release

The latest release of {{project__name}} Python library is
[{% raw %}{{ vars.release_version }}{% endraw %}](https://github.com/easyscience/{{project__repos__lib}}/releases/latest).
Full release notes are available on the [GitHub Releases](https://github.com/easyscience/{{project__repos__lib}}/releases)
page.

## License

{{project__name}} is licensed under the
[BSD 3-Clause License](https://raw.githubusercontent.com/easyscience/{{project__repos__lib}}/master/LICENSE).

## Get in touch

For general questions or comments, please contact us at support@easydiffraction.org.

For bug reports and feature requests, please use
[GitHub Issue Tracker](https://github.com/easyscience/{{project__repos__lib}}/issues)
instead (free registration required).

## Contributing

We welcome contributions! Our vision is for {{project__name}} to be a
community-driven, open-source project supported by a diverse group of
contributors.

The project is currently maintained by the
[European Spallation Source (ESS)](https://ess.eu) in Sweden.

If you'd like to contribute, please refer to the
[:material-account-plus: Contributing](contributing) section for
information about our code of conduct and instructions on submitting pull
requests.
