---
icon: material/book-open-variant
---

# :material-book-open-variant: User Guide

This section explains core concepts, workflow steps, and parameters required for using {{project__name}} effectively.
