---
icon: material/book-open-variant
---

# :material-book-open-variant: User Guide

This section explains core concepts, workflow steps, and parameters required for using {{project__name}} effectively.

## Import EasyDiffraction

To use EasyDiffraction, you need to import the package. The following code snippet demonstrates how to import EasyDiffraction:

```python
import easydiffraction as ed
```

## Creating Job object

The `Job` object is the main object that stores all the information required for the diffraction calculation. The following code snippet demonstrates how to create a `Job` object:

```python
job = ed.Job()
```

## Data analysis workflow

As a next step, you can follow the data analysis workflow, which is described in detail in the [Workflow Steps](workflow-steps) section.
