![](assets/images/logo_dark.svg#gh-dark-mode-only)![](assets/images/logo_light.svg#gh-light-mode-only)

# {{project__short_description}}

## Description

{{project__name}} is scientific software for
{{project__extended_description}}.

{% if project__deployment_type == "both" %}
{{project__name}} is distributed as both a cross-platform desktop application
and a Python library.

Here you can find instructions for using the {{project__name}} Python library.
Documentation for the {{project__name}} graphical user interface can be found
[elsewhere]({{project__urls__app_docs}}).
{% elif project__deployment_type == "lib" %}
{{project__name}} is distributed as a Python library.
{% elif project__deployment_type == "app" %}
{{project__name}} is distributed as a cross-platform desktop application.
{% endif %}

{{project__name}} is part of the
[EasyScience framework](https://easyscience.software).

## Latest release

The latest release of {{project__name}} Python library is
[{% raw %}{{ vars.release_version }}{% endraw %}](https://github.com/easyscience/{{project__repos__lib}}/releases/latest).

## License

{{ project__name }} is licensed under the
[BSD 3-Clause License](https://raw.githubusercontent.com/easyscience/{{project__repos__lib}}/master/LICENSE).

## Get in touch

For general questions or comments, please contact us at support@easydiffraction.org.

For bug reports and feature requests, please use
[GitHub Issue Tracker](https://github.com/easyscience/{{project__repos__lib}}/issues) instead (free registration required).

## Contents

Here is a brief overview of the main documentation sections:

- [Installation & Setup](#installation) - Guides users through system requirements, environment setup, and the installation process.
- [User Guide](#usage) - Explains core concepts, workflow steps, and parameters required for using EasyDiffraction effectively.
- [Hands-on Tutorials](#tutorials) - Provides complete, practical examples to demonstrate common workflows and data analysis tasks.
- [API Reference](#api) - Auto-generated reference detailing the functions and modules available in EasyDiffraction.
- [Contributing](#contributing) - Outlines the guidelines and procedures for contributing to the EasyDiffraction project.
