# Introduction

## Description

{{project__name}} is scientific software for
{{project__extended_description}}.

![](assets/images/hero_dark.png#gh-dark-mode-only)![](assets/images/hero_light.png#gh-light-mode-only)

{% if project__deployment_type == "both" %}
{{project__name}} is distributed as both a cross-platform desktop application
and a Python library.

Here you can find instructions for using the {{project__name}} Python library.
Documentation for the {{project__name}} graphical user interface can be found
[elsewhere]({{project__urls__app_docs}}).
{% elif project__deployment_type == "lib" %}
{{project__name}} is distributed as a Python library.
{% elif project__deployment_type == "app" %}
{{project__name}} is distributed as a cross-platform desktop application.
{% endif %}

## EasyScience

{{project__name}} is part of the
[EasyScience framework](https://easyscience.software).

## Latest release

The latest release of {{project__name}} Python library is
[{% raw %}{{ vars.release_version }}{% endraw %}](https://github.com/easyscience/{{project__repos__lib}}/releases/latest).

## License

{{ project__name }} is licensed under the
[BSD 3-Clause License](https://raw.githubusercontent.com/easyscience/{{project__repos__lib}}/master/LICENSE).

## Get in touch

For general questions or comments, please contact us at support@easydiffraction.org.

For bug reports and feature requests, please use
[GitHub Issue Tracker](https://github.com/easyscience/{{project__repos__lib}}/issues) instead (free registration required).
