# Project information
site_name: {{ project__name }} Library
site_url: {{ project__urls__lib_docs }}

# Repository
repo_url: https://github.com/easyscience/{{ project__repos__lib }}
edit_uri: edit/develop/docs/

# Copyright
copyright: © {{ project__copyright_year }} {{ project__name }}

# Format and layout of the global navigation for the site
nav:
  - 1. Introduction: index.md
  - 2. Installation & Setup: installation.md
  - 3. User Guide:
      - usage/index.md
      - 3.1. Terminology: usage/terminology.md
      - 3.2. Workflow Steps:
        - usage/workflow-steps/index.md
        - Project: usage/workflow-steps/project.md
        - Model: usage/workflow-steps/model.md
        - Experiment: usage/workflow-steps/experiment.md
        - Analysis: usage/workflow-steps/analysis.md
        - Summary: usage/workflow-steps/summary.md
  - 4. Hands-on Tutorials:
      - tutorials/index.md
      - 4.1. Basic examples:
          - Define model: examples/Define-model.ipynb
          - Define experiment: examples/Define-experiment.ipynb
      - 4.2. Simulation:
          - pd-xray NaCl: examples/Simulation_pd-xray_NaCl.ipynb
      - 4.3. Fitting:
          - pd-neut-cwl LBCO-HRPT: examples/Fitting_pd-neut-cwl_LBCO-HRPT.ipynb
          - pd-neut-tof Si-SEPD: examples/Fitting_pd-neut-tof_Si-SEPD.ipynb
          - pd-neut-tof NCAF-WISH: examples/Fitting_pd-neut-tof_NCAF-WISH.ipynb
      - 4.4. Advanced fitting:
          - MCMC pd-neut-tof NCAF-WISH: examples/Fitting-emcee_pd-neut-cwl_LBCO-HRPT.ipynb
      - 4.5. Additional Examples:
          - Change minimizer: examples/Change-minimizer.ipynb
  - 5. API Reference: reference/index.md
  - 6. Contributing: contributing/index.md
