# Workflow Steps

In order to simplify the analisys process, the data processing workflow has been divided into several steps:

- [:material-archive: Project](project) - Define the project as a container for the data and results.
- [:material-puzzle: Model](model) - Load the crystallographic model in CIF format or create a new one.
- [:material-microscope: Experiment](experiment) - Load the experimental data and instrumental parameters.
- [:material-calculator: Analysis](analysis) - Calculate the diffraction pattern and minimize the difference between the
  calculated and measured data by refining the physical model parameters.
- [:material-clipboard-text: Summary](summary) - Generate a summary report with the results of the analysis.

Each step is described in detail in the corresponding section.

