---
icon: material/clipboard-text
---

# :material-clipboard-text: Summary

This section describes the final step of the data processing workflow, which is to generate a summary report with the
results of the analysis. The summary report includes the following information: ...
