# Analysis Workflow

To streamline the **data analysis process**, {{project__name}} follows a
structured workflow divided into **five key steps**:

```mermaid
flowchart LR
    a(Project)
    b(Sample Model)
    c(Experiment)
    d(Analysis)
    e(Summary)
    a --> b
    b --> c
    c --> d
    d --> e
```

- [:material-archive: Project](project.md) – Establish a **project** as a
  container for sample model and experiment parameters, measured and calculated
  data, analysis settings and results.
- [:material-puzzle: Sample Model](sample_model.md) –
- [:material-microscope: Experiment](experiment.md) –
- [:material-calculator: Analysis](analysis.md) –
- [:material-clipboard-text: Summary](summary.md) – Generate a
  **report** summarizing the results of the analysis, including
  refined parameters.

Each step is described in detail in its respective section, guiding users
through the **entire {{project__short_description | lower}} workflow** in
{{project__name}}.
