---
icon: material/cog-box
---

# :material-cog-box: Installation & Setup

## Requirements

The {{ project__name }} is multi-platform library developed in Python,
so Python must be installed on your system. The library is compatible with Python versions
{{ lib__python_min }} through {{ lib__python_max }}.

## Environment setup <small>optional</small> { #environment-setup data-toc-label="Environment setup" }

We recommend using a virtual environment – an isolated Python runtime where any
packages you install or update are contained within that environment. If you
encounter issues, you can simply delete and recreate the environment. Setting it
up is straightforward:

Create a new virtual environment with:
```console
python3 -m venv venv
```

<!-- prettier-ignore-start -->
Activate the environment with:

=== ":material-apple: macOS"
    ```console
    . venv/bin/activate
    ```
=== ":material-linux: Linux"
    ```console
    . venv/bin/activate
    ```
=== ":fontawesome-brands-windows: Windows"
    ```console
    . venv/Scripts/activate      # Windows with Unix like shells
    .\venv\Scripts\activate.bat  # Windows with CMD
    .\venv\Scripts\activate.ps1  # Windows with Power shell
    ```
<!-- prettier-ignore-end -->

Your terminal should now print `(venv)` before the prompt, which is how you know
that you are inside the virtual environment that you just created.

Exit the environment with:
```console
deactivate
```

If this environment is no longer needed, you can delete it with:
```console
rm -rf venv
```

## Installation guide

### From PyPI <small>recommended</small> { #from-pypi data-toc-label="From PyPI" }

{{ project__name }} is published on the Python Package Index (PyPI) repository and
can be installed with the package installer for Python (pip), ideally by using a
[virtual environment](#environment-setup).

We recommend installing the latest release of {{ project__name }} with the `charts`
extras, which include optional dependencies used for simplified visualization of
charts and tables. This can be especially useful for running the Jupyter
Notebook examples. To do so, use the following command:

```console
pip install '{{ lib__package_name }}[charts]'
```

If only the core functionality is needed, the library can be installed simply
with:

```console
pip install {{ lib__package_name }}
```

To install a specific version of {{ project__name }}, e.g. 1.0.3, use:

```console
pip install '{{ lib__package_name }}==1.0.3'
```

Upgrading to the latest version can be done with:

```console
pip install --upgrade --force-reinstall {{ lib__package_name }}
```

To show the currently installed version, use:

```console
pip show {{ lib__package_name }}
```

### From GitHub

Installing an unreleased version is not recommended and should only be done for
testing purposes.

Here is an example of how to install {{ project__name }} directly from our GitHub
repository, e.g., from the `develop` branch:

```console
pip install git+https://github.com/easyscience/{{ project__repos__lib }}@develop
```

To do the same with extra dependencies, use:

```console
pip install '{{ lib__package_name }}[charts] @ git+https://github.com/easyscience/{{ project__repos__lib }}@develop'
```

## Running Tutorials

We have a collection of Jupyter Notebook examples that demonstrate how to use
{{ project__name }} for various tasks. These tutorials are presented in the
[Hands-on Tutorials](tutorials/index.md#how-to-use) section of the documentation as
static HTML pages.

You can also run these Jupyter Notebook examples yourself either locally or in
Google Colab.

These Jupyter Notebook examples can be downloaded either one by one from the
[Hands-on Tutorials](tutorials/index.md#how-to-use) section or all together as a zip
archive from the
[{{ project__name }} releases](https://github.com/easyscience/{{ project__repos__lib }}/releases/latest).

### Run locally

To run the examples locally, you need to install Jupyter Notebook or JupyterLab.
Here are the steps to take in the case of Jupyter Notebook:

- Install Jupyter Notebook:
  ```console
  pip install notebook
  ```
- Download {{ project__name }} examples from GitHub for the latest release, e.g.,
  using curl:
  ```console
  curl --location --remote-name https://github.com/easyscience/{{ project__repos__lib }}/releases/latest/download/examples.zip
  ```
- Unzip the downloaded archive:
  ```console
  unzip examples.zip
  ```
- Run Jupyter Notebook server in the `examples/` directory:
  ```console
  jupyter notebook examples/
  ```
- Open your web browser and go to:
  ```console
  http://localhost:8888/
  ```
- Select one of the `*.ipynb` files.

### Via Google Colab

!!! note

    To run the examples in Google Colab, you need to have a Google account.

Google Colab is a free cloud service that allows you to run Jupyter Notebooks
online, enabling you to run the examples without installing anything on your
local machine.

In the top right corner of each example, under the
[Hands-on Tutorials](tutorials/index.md#how-to-use) section, you will find a button to
open that example in Google Colab :google-colab:
